<!DOCTYPE html>
<html>
	<head>
		<% include partials/template/head.ejs %>
	</head>
	<body>
		<% include partials/template/menu.ejs %>

		<% include partials/template/header.ejs %>


		<div id='container'>

			<div id='sharingLinks'>
				<div class='box'>
				<a href='https://twitter.com/<%= data[0].twitter %>' class='share' id='twitter'></a>
				<a href='https://linkedin.com/in/<%= data[0].linkedin %>' class='share' id='linkedin'></a>
				</div>
			</div>


			<div class='inset'>

			<div class='entry blog' id='projectEntry'>
				<div class='floatLeft category blog'>
				<h3 class='category'><a href='/blog/'>Blog post</a></h3>
				</div>
				<div class='floatRight'><h3 class='date'><%= projectData.date %> %></h3></div>
				<div class='clearMe'></div>
				<h2 class='headline'><%= projectData.title %></h2>




				<div class='<%= verticalImage %>'>
					<a href='<%= projectData.projectlink %>' target='_blank'><img src='<%= projectData.image %>'/></a>	
					<div class='credit' style='padding-right:0;'><%= projectData.employer %></div>
				</div>

				<div class='description'><%- projectData.descriptionSplit %></div>



				<!--
				<ul class='listView'>
				<% if (projectData.projectlink!=""){ %>
					<a href='<%= projectData.projectlink %>' target='_blank'><li>View the project</li></a>
				<% } %>
				<% if (projectData.videolink!=""){ %>
					<a href='<%= projectData.videolink %>' target='_blank'><li>Watch a video</li></a>
				<% } %>
				<% if (projectData.bloglink!=""){ %>
					<a href='<%= projectData.bloglink %>' target='_blank'><li>Read more</li></a>
				<% } %>
				</ul>
				-->
				<div class='clearMe'></div>

			</div>


			</div>



			<div id='containerGrid'>
			</div><!-- containerGrid -->




		</div><!-- container -->
		<% include partials/template/footer.ejs %>

		<% include partials/template/scripts.ejs %>
	</body>
</html>
