<!DOCTYPE html>
<html>
	<head>
		<% include partials/template/headProject.ejs %>
	</head>
	<body>
		<% include partials/template/menu.ejs %>

		<% include partials/template/header.ejs %>

		<div id='navigation'>
			<a id='prev' title='previousprofile'>&nbsp;</a>
			<a id='next' title='nextprofile'>&nbsp;</a>
			<div id='screenLeft'></div>
			<div id='screenRight'></div>
		</div>

		<div id='container'>

			<div id='sharingLinks'>
				<% include partials/template/sharing.ejs %>
			</div>

			<div class='entry' id='projectEntry'>
				<div class='floatLeft category <%= projectData.category %>'>
				<h3 class='category'><a href='/portfolio/<%= projectData.category %>'><%= projectData.category %></a></h3>
				</div>
				<div class='floatRight'><h3 class='date'><%= projectData.date %> %></h3></div>
				<div class='clearMe'></div>
				<h2 class='headline'><%= projectData.title %></h2>




				<% if (projectData.videoembed!=""){ %>
					<iframe width="640" height="360" src="<%= projectData.videoembed %>" frameborder="0" allowfullscreen></iframe>
					<div class='credit'><%= projectData.employer %></div>
				<% } else { %>
					<div class='<%= verticalImage %>'>
					<a href='<%= projectData.projectlink %>'><img src='/images/<%= projectData.imagebase %>.jpg' <% if (projectData.alttag!=""){ %> alt = '<%= projectData.alttag %>'<% } %>/></a>
					<div class='credit' style='padding-right:0;'><%= projectData.employer %></div>
					</div>
				<% } %>

				<div class='description'><%- projectData.descriptionSplit %></div>




				<ul class='listView'>
					<% if (projectData.projectlink!=""){ %>
						<a href='<%= projectData.projectlink %>'><li>View the project <% if (projectData.medium=='Flash'){ %> (Requires Flash) <% } %></li></a>
					<% } %>
					<% if (projectData.videolink!=""){ %>
						<a href='<%= projectData.videolink %>'><li>Watch a video</li></a>
					<% } %>
					<% if (projectData.githublink!=""){ %>
						<a href='<%= projectData.githublink %>'><li>Check out the code</li></a>
					<% } %>
					<% if (projectData.bloglink!=""){ %>
						<a href='<%= projectData.bloglink %>'><li>Read a blog post</li></a>
					<% } %>
				</ul>
				<div class='clearMe'></div>

			</div>

			<div class='entry' style='margin-bottom: 20px;'>
				<div class='floatLeft category <%= projectData.category %>'>
				<h3 class='category'><a href='/portfolio/<%= projectData.category %>'>Recent <%= projectData.category %>s</a></h3>
				</div>
				<div class='floatRight'><h3 class='date'><a href='/portfolio/'>View full portfolio</a></h3></div>
			</div>



			<div id='containerGrid'>
				<div class='inset'>
					<% include partials/template/loop.ejs %>
				</div>
			</div><!-- containerGrid -->



		</div><!-- container -->
		<% include partials/template/footer.ejs %>

		<% include partials/template/scripts.ejs %>
		<script type="text/javascript">
			document.location.hash = 'container';

			$('#prev').prop('href', '<%= previousProject %>');
			$('#next').prop('href', '<%= nextProject %>');

		</script>
	</body>
</html>
