<div id='footer'>
	<div id='contactInfo'>
		<h3>CONTACT ME</h3>
		<ul>
			<a href='https://twitter.com/<%= data[0].twitter %>'><li><span class='label'>Twitter:</span> @<%= data[0].twitter %></li></a>
			<a href="mailto:<%= data[0].email %>"><li><span class='label'>Email: </span><%= data[0].email %></li></a> 
			<a href='tel://<%= data[0].phone %>'><li><span class='label'><span class='label'>Phone: </span><%= data[0].phone %></li></a>
		</ul>
	</div>
</div>
