	<title><%- data[0].title %> <%if (pageTitle!=''){%> :: <%= pageTitle %> <% } %></title>
	<meta name='viewport' content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0'/>
	<meta http-equiv="content-type" content="text/html;charset=utf-8" />

	<!-- for Google -->
	<meta name='description' content="<%- data[0].metadescription %>"/>
	<meta name="keywords" content="<%= data[0].metakeywords %>" />

	<meta name="author" content="<%- data[0].name %>" />

	<!-- for Facebook -->
	<meta property="og:title" content="<%- data[0].title %>  :: <%= pageTitle %>" />
	<meta property="og:type" content="<%- data[0].metatype %>" />
	<meta property="og:image" content="<%- data[0].metaimage %>" />
	<meta property="og:url" content="<%- data[0].metaurl %>" />
	<meta property="og:description" content="<%- data[0].metadescription %>" />

	<link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
	<link rel='stylesheet' href='/stylesheets/styles.css' />